---
layout: default
---
<h1>TODO list</h1>

This file is created automatically using `TODO ...` commands within PhysLean.
Feel free to tackle any of the items here.

{% for cat in site.data.TODO.Category %}

<h3>{{ cat.name }} {{ cat.emoji }}</h3>
<details open>
  <summary style="font-size: 0.8em; margin-left: 1em;">Hide {{cat.num}} TODO items:</summary>


{% for entry in site.data.TODO.TODOItem %}
  {% if entry.category == cat.name %}
        <div class="list-group-item list-group-item-action" id="{{ entry.tag }}">
          <div class="d-flex w-100 justify-content-between">
            {% if entry.isInformalDef == true %}
            <p href="#" class="badge badge-primary" style="background-color: rgba(65, 105, 225, 0.1);color: #1e40af;">Informal definition</p>  ({{ entry.name }}) 
            {% else %}
            {% if entry.isInformalLemma == true %}
            <p class="badge badge-primary" style="background-color: rgba(255, 165, 0, 0.1);color: #FF8C00;">Informal Lemma</p>  ({{ entry.name }})
            {% else %}
            {% if entry.isSemiFormalResult == true %}
            <p class="badge badge-primary" style="background-color: rgba(173, 216, 230, 0.2); color: #4682B4;">Semiformal result</p>  ({{ entry.name }})
            {% else %}
            <p class="badge badge-primary" style="background-color: rgba(0, 128, 128, 0.1);color: #008080;">TODO Item</p>  (file : {{ entry.name }})
            {% endif %}
            {% endif %}
            {% endif %}

            
        </div>
        <p>{{ entry.content | markdownify}}</p>
        <a class="badge badge-primary" href="{{ entry.githubLink }}" style="background-color: rgba(128, 128, 128, 0.1);color: #808080;;">See on GitHub</a>
        <a class="badge badge-primary" href="#{{ entry.tag }}" style="background-color: rgba(128, 128, 128, 0.1);color: #808080;">Tag: {{ entry.tag }}</a>
        <!-- Copy tag buttons. -->
              {% if entry.isInformalDef == true %}
              <button class="badge badge-primary" onclick="copyToClipboard('[informal_def ({{ entry.tag }}): {{ entry.name }}](https://physlean.com/TODOList#{{ entry.tag }})')" style="background-color: rgba(60, 179, 113, 0.1); color: #3CB371;">Copy Tag</button>
              {% else %}
              {% if entry.isInformalLemma == true %}
              <button class="badge badge-primary" onclick="copyToClipboard('[informal_lemma ({{ entry.tag }}): {{ entry.name }}](https://physlean.com/TODOList#{{ entry.tag }})')" style="background-color: rgba(60, 179, 113, 0.1); color: #3CB371;">Copy Tag</button>
              {% else %}
              {% if entry.isSemiFormalResult == true %}
              <button class="badge badge-primary" onclick="copyToClipboard('[semiformal_result ({{ entry.tag }}): {{ entry.name }}](https://physlean.com/TODOList#{{ entry.tag }})')" style="background-color: rgba(60, 179, 113, 0.1); color: #3CB371;">Copy Tag</button>
              {% else %}
              <button class="badge badge-primary" onclick="copyToClipboard('[TODO ({{ entry.tag }}): file {{ entry.name }}](https://physlean.com/TODOList#{{ entry.tag }})')" style="background-color: rgba(60, 179, 113, 0.1); color: #3CB371;">Copy Tag</button>
              {% endif %}
              {% endif %}
              {% endif %}
      </div>
  {% endif %}
{% endfor %}
</details>
{% endfor %}


<script>
  function copyToClipboard(text) {
    navigator.clipboard.writeText(text).then(function() {
     
    }, function(err) {
      console.error('Could not copy text: ', err);
    });
  }
</script>

